.container{
text-align:center;
background-color: pink;
height:50vh;
width:30vh;

}
.buttonElement{
  height:5vh;
  width:5vh;
  font-size:20px;
  margin:5px;
  border-radius:10px;
  background-color:rgb(0, 229, 255);
}